<%- include("partials/header.ejs") -%>
<div id="info">
  <h1>Retrieve Weather Forecast</h1>
  <p>You'll receive the following on your chosen location:</p>
  <ul>
    <li>Current forecast</li>
    <li>Simple & clear interface</li>
    <li>Integrated images to enchance your forecast experience</li>
  </ul>
  <form class="d-flex" action="/" method="post">
    <input class="form-control me-2" type="search" placeholder="Enter Location" aria-label="Search" name="location">
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>
<%- include("partials/footer.ejs") -%>
