<%- include("partials/header.ejs") -%>
  <div id="loginForm">
    <img src="https://img.icons8.com/office/60/000000/partly-cloudy-day--v2.png" alt="Weather-img" />
    <br />
    <h2>Please Login</h2>
    <% if(success_msg!= '') { %>
      <span><%=success_msg %> </span>
      <% } %>
    <form action="/login" method="post">
      <div class="login">
        <input type="email" name="email" value="" placeholder="Email address">
        <input type="password" name="password" value="" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </form>
  </div>
<%- include("partials/footer.ejs") -%>
