<%- include("partials/header2.ejs") -%>
  <h3 class="profileTitle">Change favourite location: </h3>
<%- include("partials/saveCity.ejs") -%>
  <hr class="separator">
<%- include("partials/apiRender.ejs") -%>
<%- include("partials/footer.ejs") -%>
