<%- include("partials/header.ejs") -%>
<div id="loginForm">
  <img src="https://img.icons8.com/office/60/000000/partly-cloudy-day--v2.png" alt="Weather-img" />
  <br />
  <h2>Please Sign Up</h2>
<%- include("partials/signupForm.ejs") -%>
</div>
<%- include("partials/footer.ejs") -%>
